/* Dark theme with stylish and modern UI */
.contact-container {
   background-color: whitesmoke;
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;

  }
  
  .contact-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    color: #8bb4cd;
    letter-spacing: 1px;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
  }
  
  .details-section {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
  }
  

  .details-section h2 {
    color: #8bb4cd;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .details-section p {
    font-size: 1em;
    line-height: 2.2;
    color: gray;
    margin: 10px 0;
  }
  
  .flag-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    /* padding: 40px; */
    border-radius: 16px;
  }
  
  .oman-flag {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    
  }
  
  
  
  /* Stylish Hover Effects */
  .details-section p strong {
    color: black;
  }
  
  /* Responsive design adjustments */
  @media (min-width: 768px) {
    .contact-details {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .details-section, .flag-section {
      width: 48%;
    }
  }
  
  @media (max-width: 767px) {
    .contact-details {
      flex-direction: column;
    }
  
    .details-section, .flag-section {
      width: 100%;
    }
  }
  